<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Weather App</title>
		<meta charset="utf-8">
		<link href="style.css" rel="stylesheet">
		<script src="https://unpkg.com/vue@next"></script>
	</head>

	<body>
		<div id="root">
			<div class="shadowed stuff-box black">
				<h1>
					Vue.JS Weather App
				</h1>
			</div>
			<div class="shadowed stuff-box blue">
				<h2>
					Your location
				</h2>
				<p v-if="gotCoordinates">
					You are located in {{city}}, {{region}}, {{country}} at coordinates ({{latitude}}, {{longitude}})
				</p>
				<p v-else>
					Loading...
				</p>
			</div>
			<div class="shadowed stuff-box yellow">
				<h2>
					Current conditions for {{date}}
				</h2>
					<ul v-if="gotWeather">
						<li>Temperature: {{temperature}}F</li>
						<li>High: {{high}}F</li>
						<li>Low: {{low}}F</li>
						<li>Conditions: {{conditions}}</li>
						<li>Humidity: {{humidity}}%</li>
						<li>Pressure: {{pressure}} hPa</li>
					</ul>
					<p v-else>
						Loading...
					</p>
			</div>
			<div class="shadowed stuff-box grey">
				<h2>
					5 day 3-hour forecast
				</h2>
				<span class="redText">{{unlikelyCount}} unlikely </span>
				<span class="blackText">{{neutralCount}} neutral </span>
				<span class="greenText">{{likelyCount}} likely </span>
				<p v-if="gotForecast">

				</p>
				<p v-else>
					Loading...
				</p>
				<div class="shadowed stuff-box black" v-on:click="increment" v-for="element in forecastList" class="shadowed stuff-box black">
					<h2>
						Current conditions for {{element["dt_txt"]}}
					</h2>
					<p>
						<ul>
							<li>Temperature: {{element["main"]["temp"]}}F</li>
							<li>High: {{element["main"]["temp_max"]}}F</li>
							<li>Low: {{element["main"]["temp_min"]}}F</li>
							<li>Conditions: {{element["weather"][0]["description"]}}</li>
							<li>Humidity: {{element["main"]["humidity"]}}%</li>
							<li>Pressure: {{element["main"]["pressure"]}} hPa</li>
						</ul>
					</p>

				</div>
			</div>



			</div>
		</div>
		<script src="script.js"></script>
	</body>
</html>